{% extends 'components/events/event.html' %}
{% load staticfiles %}

{% block title %} ITSP  {% endblock %}
{% block image %}{% static  'activity/eight.png' %}{% endblock %}
{% block club %}Tinkerers' Laboratory {% endblock %}
{% block start_date %}22nd January 2020{% endblock %}
{% block end_date %}-{% endblock %}
{% block web %} https://www.tinkerers-lab.org/ {% endblock %}
{% block facebook %}https://www.facebook.com/groups/516567882616483{% endblock %}
{% block conact_person %}Nambilakshmi Ramachandran{% endblock %}
{% block email %}tinkererslaboratory@gmail.com{% endblock %}