{% extends 'components/events/event.html' %}
{% load staticfiles %}

{% block title %} How Things Work Online Competition  {% endblock %}
{% block image %}{% static  'activity/online.jpg' %}{% endblock %}
{% block club %}Tinkerers' Laboratory {% endblock %}
{% block start_date %}2nd April 2020{% endblock %}
{% block end_date %}30th April  2020{% endblock %}
{% block web %} https://www.tinkerers-lab.org/ {% endblock %}
{% block facebook %} https://m.facebook.com/story.php?story_fbid=1661917017281513&id=444344385705455{% endblock %}
{% block conact_person %}Harshita Agarwal{% endblock %}
{% block email %}tinkererslaboratory@gmail.com{% endblock %}