{% extends 'components/events/event.html' %}
{% load staticfiles %}

{% block title %} Energy Club Science Series {% endblock %}
{% block image %}{% static  'activity/four.jpeg' %}{% endblock %}
{% block club %}Energy Club{% endblock %}
{% block start_date %}15th April 2020{% endblock %}
{% block end_date %}-{% endblock %}
{% block web %} https://www.tech-iitb.org/enciitb/ {% endblock %}
{% block facebook %} https://www.facebook.com/mnpiitb/ {% endblock %}
{% block conact_person %} Atharva Lokhande{% endblock %}
{% block email %} energyclub@iitb.ac.in{% endblock %}