{% extends 'components/events/event.html' %}
{% load staticfiles %}

{% block title %} Summer Learning Projects  {% endblock %}
{% block image %}{% static  'activity/placeholder.jpeg' %}{% endblock %}
{% block club %}Controls and Dynamical Systems - Student Reading Group{% endblock %}
{% block start_date %}22nd April 2020{% endblock %}
{% block end_date %}30th May 2020{% endblock %}
{% block web %} # {% endblock %}
{% block facebook %}https://www.facebook.com/cds.srg/{% endblock %}
{% block conact_person %}Dhananjay Tiwari /Prajwal Prathiksh KT{% endblock %}
{% block email %}cds.srg.iitb@gmail.com{% endblock %}