{% extends 'components/events/event.html' %}
{% load staticfiles %}

{% block title %} Code in Quarantine {% endblock %}
{% block image %}{% static  'activity/CiQ_Poster.png' %}{% endblock %}
{% block description %} Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,{% endblock %}
{% block club %}Web and Coding Club{% endblock %}
{% block start_date %}6th April 2020{% endblock %}
{% block end_date %}31st May 2020{% endblock %}
{% block web %} https://github.com/wncc/CodeInQuarantine/ {% endblock %}
{% block facebook %} https://www.facebook.com/wncc.iitb/photos/a.687832654603036/3097169737002637/?type=3&theater {% endblock %}
{% block conact_person %}Akshit Srivastava, Latika Patel{% endblock %}
{% block email %}wncc@iitb.ac.in{% endblock %}