{% extends 'components/events/event.html' %}
{% load staticfiles %}

{% block title %} Summer of Science  {% endblock %}
{% block image %}{% static  'activity/sos.jpg' %}{% endblock %}
{% block club %}Maths and Physics Club{% endblock %}
{% block start_date %}1st April 2020{% endblock %}
{% block end_date %}31st May 2020{% endblock %}
{% block web %} http://mnp-club.github.io/ {% endblock %}
{% block facebook %} https://www.facebook.com/mnpiitb/ {% endblock %}
{% block conact_person %}Saanika Choudhary, Roshni Singh{% endblock %}
{% block email %}mnpclub.iitb@gmail.com{% endblock %}