{% extends 'components/events/event.html' %}
{% load staticfiles %}

{% block title %} Seasons Of Code {% endblock %}
{% block image %}{% static  'activity/soc.jpeg' %}{% endblock %}
{% block club %}Web and Coding Club{% endblock %}
{% block start_date %}22nd March 2020{% endblock %}
{% block end_date %}31st May 2020{% endblock %}
{% block web %} https://www.wncc-iitb.org/soc/ {% endblock %}
{% block facebook %} https://www.facebook.com/wncc.iitb/posts/3066636126722665 {% endblock %}
{% block conact_person %}Latika Patel{% endblock %}
{% block email %}wncc@iitb.ac.in{% endblock %}