{% extends 'components/events/event.html' %}
{% load staticfiles %}

{% block title %} Krittika Summer Projects  {% endblock %}
{% block image %}{% static  'activity/placeholder.jpeg' %}{% endblock %}
{% block club %}Krittika {% endblock %}
{% block start_date %}17th April 2020{% endblock %}
{% block end_date %}4th May  2020{% endblock %}
{% block web %} # {% endblock %}
{% block facebook %}https://www.facebook.com/KrittikaIITB/ {% endblock %}
{% block conact_person %}Siddhant Tripathy, Kritti Sharma{% endblock %}
{% block email %}krittika.club@iitb.ac.in{% endblock %}