{% extends 'components/events/event.html' %}
{% load staticfiles %}

{% block title %} ROS Workshop {% endblock %}
{% block image %}{% static  'activity/ROS.jpg' %}{% endblock %}
{% block club %}Electronics and Robotics Club{% endblock %}
{% block start_date %}21st April 2020{% endblock %}
{% block end_date %}31st May 2020{% endblock %}
{% block web %} https://github.com/erciitb/ROS-Tutorial {% endblock %}
{% block facebook %} https://www.facebook.com/erciitb/photos/a.872059419488114/3363269067033791/?type=3&theater {% endblock %}
{% block conact_person %} Shubham Lohiya{% endblock %}
{% block email %} erciitbombay@gmail.com{% endblock %}