{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		{% block title %}
		Tech@IITB
		{% endblock %}
	</title>
	<link href="{% static 'assets/images/logo.ico' %}" rel="shortcut icon" type='image/x-icon' />
	<!-- Bootstrap And CSS -->
	<link href="{% static  'events/css/style.css' %}" rel="stylesheet">
	<!-- <link href="{% static  'team/css/style.css' %}" rel="stylesheet"> -->
	<!-- <link href="{% static  'team/css/style.css' %}" rel="stylesheet"> -->
	<link href="{% static  'assets/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static  'assets/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
	<link href="{% static  'assets/bower_components/flexslider/flexslider.css' %}" rel="stylesheet">
	<link rel='stylesheet' type="text/css" href="{% static  'assets/dzsparallaxer/dzsparallaxer.css' %}" />
	<!--main css file-->
	<link href="{% static  'assets/css/style.css' %}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static  'assets/css/custom.css' %}">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	{% include 'components/nav.html' %}
</head>

<div class="container">
	<div class="space-90"></div>
	<div class="row">
		<div class="col-md-12 col-sm-12 center-block text-center">
			<header>
				<h1>{% block header %}{% endblock %}</h1>
			</header>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 center-block inner-top-sm text-center">
			{% block content%}
			{% endblock %}
		</div>
	</div>

</div>

{% include 'components/footer.html' %}
<script>

	$(document).ready(function(){
		$("#div1").hide(0).delay(600).fadeIn(5000);
	});
</script>
<!-- jQuery plugins-->

<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="{% static  'assets/bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static  'assets/js/jquery-migrate.min.js' %}"></script>
<script src="{% static  'assets/js/jquery.easing.min.js' %}"></script>
<script src="{% static  'assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static  'assets/bower_components/flexslider/jquery.flexslider-min.js' %}"></script>
<script src="{% static  'assets/js/modernizr.custom.97074.js' %}" type="text/javascript"></script>
<script src="{% static  'assets/js/template-custom.js' %}" type="text/javascript"></script>
<script src="{% static  'assets/dzsparallaxer/dzsparallaxer.js' %}" type="text/javascript"></script>

{% block scripts %}
{% endblock %}

</html>
