{% extends 'activity/base.html' %}
{% load staticfiles %}
{% block header%}
Current Activities
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div id="myCarousel" class="carousel slide">
			<!-- Carousel items -->
			<div class="carousel-inner">
				<div class="active item">
					{% include 'components/events/one.html' %}
				</div>
				<div class="item">
					{% include 'components/events/two.html' %}
				</div>
				<div class="item">
					{% include 'components/events/three.html' %}
				</div>
				<div class="item">
					{% include 'components/events/four.html' %}
				</div>
				<div class="item">
					{% include 'components/events/five.html' %}
				</div>
				<div class="item">
					{% include 'components/events/six.html' %}
				</div>
				<div class="item">
					{% include 'components/events/seven.html' %}
				</div>
			</div>	
		</div>	
	</div>
</div>
<div class="space-60"></div>
{% endblock%}

{% block scripts %}
<script type="text/javascript">
	$('.carousel').carousel({
		interval: 2000
	})
</script>
{% endblock %}